.project-details {
  color: #3c2415;
  align-items: start;
  overflow-y: auto;
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
}

@media screen and (max-width: 768px) {
  .project-details {
    padding-top: 80px;
  }
}

@media screen and (max-width: 480px) {
  .project-details {
    padding-top: 60px;
  }
}

.detail-nombre {
  margin-left: 2%;
  grid-column: 1;
}

.detail-nombre p {
  margin-top: 0.5%;
  border: 2px solid rgba(0, 0, 0, 0.2);
  width: 80%;
  text-align: center;
  border-radius: 40px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 50px;
  background: white;
}

.detail-descripcion {
  margin-top: 5%;
  margin-left: 2%;
  grid-column: 1;
}

.detail-descripcion p {
  margin-top: 0.5%;
  border: 2px solid rgba(0, 0, 0, 0.2);
  width: 80%;
  text-align: center;
  border-radius: 40px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 50px;
  overflow-y: auto;
  background: white;
}

.detail-autor {
  grid-column: 3;
  overflow-y: auto;
}

.detail-autor p {
  width: 80%;
  text-align: center;
  border-radius: 40px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 50px;
  background: white;
  text-align: center;
  margin-top: 2%;
}

.detail-inicio {
  margin-top: 5%;
  margin-left: 2%;
  grid-column: 1;
}

.fecha-container {
  width: 30%;
}

.detail-fin {
  margin-top: 5%;
  margin-left: 2%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 50px;
}

.fecha-container p {
  margin-top: 0.5%;
  border: 2px solid rgba(0, 0, 0, 0.2);
  width: 270%;
  text-align: center;
  border-radius: 40px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 50px;
  background: white;
}

.detail-fin p {
  margin-top: 0.5%;
  border: 2px solid rgba(0, 0, 0, 0.2);
  width: 25%;
  text-align: center;
  border-radius: 40px;
  background: white;
}

.detail-colaborador {
  grid-column: 2;
  overflow-y: auto;
}

.detail-colaborador p {
  border: 2px solid rgba(0, 0, 0, 0.2);
  width: 80%;
  text-align: center;
  border-radius: 40px;
  height: 50px;
  display: flex;
  justify-content: center;
  line-height: 50px;
  background: white;
  margin-top: 5%;
}

.caja {
  margin-top: 0.5%;
  padding-left: 10%;
  border: 2px solid rgba(0, 0, 0, 0.2);
  width: 80%;
  text-align: center;
  border-radius: 40px;
  height: 550px;
  display: block;
  overflow-y: auto;
  justify-content: center;
  line-height: 50px;
  background: white;
}

.caja img {
  padding-right: 20% !important;
  margin-right: 10% !important;
  margin-top: 20%;
}

.caja2 {
  margin-top: 0.5%;
  padding-left: 10%;
  border: 2px solid rgba(0, 0, 0, 0.2);
  width: 80%;
  border-radius: 40px;
  height: auto;
  display: block;
  background: white;
}

.caja2 img {
  padding-right: 20% !important;
  padding-bottom: 10% !important;
}

.detail-colab {
  grid-column: 2;
}

.detail-colab button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 5%;
  margin-left: 17%;
}

.detail-archivo {
  grid-column: 3;
  margin-top: 5%;
}

.detail-archivo p {
  margin-top: 0.5%;
  border: 2px solid rgba(0, 0, 0, 0.2);
  width: 80%;
  text-align: center;
  border-radius: 40px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 50px;
  background: white;
}

.project-actions {
  grid-column: 1;
  margin-left: 13%;
  margin-top: 5%;
}

.project-actions #edit {
  background-color: #087a7a;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 150px;
  margin-right: 10%;
}

.project-actions #Sup {
  background-color: #cc2626;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 150px;
}

.project-actions #edit:hover {
  background-color: #41c757;
}

.project-actions #Sup:hover {
  background-color: #ff7c7c;
}

.project-details #down {
  background-color: #68386d;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 8px 12px;
  cursor: pointer;
  margin-right: 10px;
  width: 250px;
  margin-bottom: 1%;
  margin-top: 5%;
  margin-left: 20%;
}

.project-details #down:hover {
  background-color: #ba74c2;
}

.project-details .close-button {
  position: absolute;
  top: 15px;
  right: 30px;
  width: 50px;
  height: 40px;
  border: none;
  background: rgb(255, 0, 0);
  cursor: pointer;
  font-size: 18px;
  color: #ffffff;
  padding-left: 15px;
  border-radius: 5px;
}

@media screen and (max-width: 768px) {
  .project-details .close-button {
    position: relative;
    top: auto;
    right: 5px;
    width: auto;
    padding: 10px;
    justify-content: center;
    align-items: center;
  }
}

#remove {
  margin-left: 1em;
}

li {
  margin-top: 1%;
}

#lista {
  margin-top: 1%;
}

#columna1 {
  grid-column: 1;
}

#columna2 {
  grid-column: 2;
}

#columna3 {
  grid-column: 3;
}

.warning-message {
  color: #cc2626;
  margin-top: 10%;
}

#warning-message {
  margin-top: 3%;
  width: 89%;
}

#modal-cliente {
  margin-top: 5%;
  margin-left: 27%;
}

.search-results {
  color: #1e8f31;
}

#clock {
  margin-top: 3%;
  margin-left: 15%;
}

#time {
  margin-top: 3%;
  width: 70%;
  margin-left: 7%;
}

#stop {
  margin-left: 10%;
}

#tiempo-empleado {
  margin-top: 3%;
  width: 89%;
}

#select-work input {
  margin-top: 5%;
  margin-right: 5%;
}

#timer {
  margin-top: 5%;
}

#remove-colab {
  margin-top: 2%;
  margin-left: 3%;
}
