.wrapper-main {
  max-width: 100%;
  width: 95%;
  height: 80%;
  max-height: 100%;

  border: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(6px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: #000000;
  border-radius: 10px;
  padding: 30px 5%;
  overflow-y: auto;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 768px) {
  .wrapper-main {
    width: 90%;
    padding: 20px;
  }
}

.wrapper-main h1 {
  font-size: 36px;
  text-align: center;
}

.wrapper-main .input-box {
  position: relative;
  width: 100%;
  height: 80px;
  margin: 30px 0;
  text-align: center;
  font-weight: 700;
}

.wrapper h1 {
  font-weight: 600;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: 2px solid rgba(0, 0, 0, 0.2);
  outline: none;
  border-radius: 40px;
  font-size: 16px;
  color: #000000;
  padding: 20px 45px 20px 20px;
  text-align: center;
  margin-top: 0px;
}

.input-box input::placeholder {
  color: #999999 !important;
}

.input-box .icon {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
}

.input-box.eye-icon {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(50%);
  font-size: 16px;
}

.wrapper-main .remenber-forgot {
  display: flex;
  justify-content: space-between;
  font-size: 14.5px;
  margin: -15px 0 15px;
}

.remenber-forgot label input {
  accent-color: #000000;
  margin-right: 4px;
}

.remenber-forgot a {
  color: #000000;
  text-decoration: none;
}

.remenber-forgot a:hover {
  text-decoration: underline;
}

.wrapper-main button {
  width: 100%;
  height: 45px;
  background: #000000;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
  color: #ffffff;
  font-weight: 700;
  margin-top: 15px;
}

.wrapper-main .register-link {
  font-size: 14.5px;
  text-align: center;
  margin: 20px 0 15px;
}

.wrapper-main .save-button:hover {
  background-color: #399228;
  transition: 0.5s;
}

.wrapper-main .cancel-button:hover {
  background-color: #ff0000;
  transition: 0.5s;
}

.wrapper-main .add-project-button:hover {
  background-color: #e2e068;
  color: #6b4734;
  transition: 0.5s;
}

.register-link p a {
  color: #000000;
  text-decoration: none;
  font-weight: 600;
}

.register-link p a:hover {
  text-decoration: underline;
}

.footer-page {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background: transparent;
  color: #000000;
  text-align: center;
  padding: 10px 0;
  backdrop-filter: blur(30px);
  border: 2px solid rgba(255, 255, 255, 0.2);
}

.foot {
  font-size: 15px;
}

.success-message-main {
  color: green;
  font-size: 14px;
  margin-top: 10px;
  text-align: center;
  padding-bottom: 15px;
}

.project-card {
  width: 220px;
  height: 253px;
  margin: 20px;
  position: relative;
  align-items: center;
  overflow: auto;
  background: linear-gradient(
    90deg,
    rgb(255, 240, 31) 0%,
    rgba(247, 212, 81, 1) 35%
  );
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  transition: all 0.8s ease;
  z-index: 1;
  transition: transform 0.8s ease;
}

.project-card:hover {
  transform: scale(1.05);
}

.project-card.expanded {
  clip-path: none;
  width: 100%;
  height: auto;
  position: absolute;
  top: auto;
  left: auto;
  transform: none;
  border: 2px solid black;
  z-index: 2;
  padding-bottom: 5%;
}

.project-card.expanded .project-info {
  display: none;
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
}

.projects-container.expanded .project-card:not(.expanded) {
  display: none;
}

.project-info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #000000;
}

.project-info p {
  margin: 0;
  font-size: 16px;
}

.project-details {
  padding-top: 120px;
  text-align: center;
  color: #3c2415;
  align-items: center;
  overflow-y: auto;
  width: 100%;
  height: auto;
}

@media screen and (max-width: 768px) {
  .project-details {
    padding-top: 80px;
  }
}

@media screen and (max-width: 480px) {
  .project-details {
    padding-top: 60px;
  }
}

.project-details p {
  margin: 10px 0;
  border-radius: 40px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  margin-left: 10%;
  margin-right: 10%;
  padding: 0.2em;
}

.project-details #down{
  background-color: #68386d;
  width: 250px;
  border-radius: 5px;
  position: relative;
}

.project-details #down:hover{
  background-color: #ba74c2;
}

.project-actions #edit{
  background-color: #3c2415;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 8px 12px;
  cursor: pointer;
  margin-right: 10px;
  width: 150px;
}

.project-actions #Sup {
  background-color: #cc2626;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 8px 12px;
  cursor: pointer;
  margin-right: 10px;
  width: 150px;
}

.project-actions #edit:hover {
  background-color: #41c757;
}

.project-actions #Sup:hover {
  background-color: #ff7c7c;
}

.project-details .close-button {
  position: absolute;
  top: 5px;
  right: 30px;
  width: 50px;
  height: 40px;
  border: none;
  background: rgb(255, 0, 0);
  cursor: pointer;
  font-size: 18px;
  color: #ffffff;
  padding-left: 15px;
  border-radius: 5px;
}

#nav {
  background-color: rgb(255, 255, 255) !important;
  backdrop-filter: blur(5px) !important;
}

.logo-nav{
  width: 100%;
  height: 100%;
  margin-left: 10px;

}

.edit {
  align-items: center;
  text-align: center;
  backdrop-filter: blur(30px) !important;
  background: transparent !important;
}

.editar {
  backdrop-filter: blur(30px) !important;
  background: transparent !important;
}

.edit button {
  width: 80%;
  align-items: center;
  text-align: center;
}

.edit .save-button:hover {
  background-color: #399228;
}

.edit .cancel-button:hover {
  background-color: #cc2626;
}

.edit .input-box {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.edit h1 {
  padding-top: 10px;
}

@media screen and (max-width: 912px) {
}

@media screen and (max-width: 768px) {
  .project-details .close-button {
    position: relative;
    top: auto;
    right: 5px;
    width: auto;
    padding: 10px;
  }
}
