.wrapper-main{
    width: 1800px;
    height: 800px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(30px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #000000;
    border-radius: 10px;
    padding: 30px 90px;
    overflow-y: auto;
}

.wrapper-main h1 {
    font-size: 36px;
    text-align: center;
}

.wrapper-main .input-box {
    position: relative;
    width: 100%;
    height: 80px;
    margin: 30px 0;
    text-align: center;
    font-weight: 700;

}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: 2px solid rgba(0, 0, 0, 0.2);
    outline: none;
    border-radius: 40px;
    font-size: 16px;
    color: #000000;
    padding: 20px 45px 20px 20px;
    text-align: center;
    margin-top: 10px;
}

.input-box input::placeholder {
    color: #000000;
}

.input-box .icon {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
}

.input-box.eye-icon {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(50%);
    font-size: 16px;    
}

.wrapper-main .remenber-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}

.remenber-forgot label input {
    accent-color: #000000;
    margin-right: 4px;
}

.remenber-forgot a {
    color: #000000;
    text-decoration: none;
}

.remenber-forgot a:hover {
    text-decoration: underline;
}

.wrapper-main button {
    width: 100%;
    height: 45px;
    background: #000000;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #ffffff;
    font-weight: 700;
    margin-top: 15px;
}

.wrapper-main .register-link {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.register-link p a {
    color:  #000000;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover {
    text-decoration: underline;
}

.footer-page {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background:transparent;
    color: #000000;
    text-align: center;
    padding: 10px 0;
    backdrop-filter: blur(30px);
    border: 2px solid rgba(255, 255, 255, .2);
}

.foot {
    font-size: 14px;
}

.header {
    background-color: transparent;
    backdrop-filter: blur(30px);
    color: rgb(0, 0, 0);
    padding: 10px;
    position: fixed;
    width: 94%;
    top: 0;
    display:flex;
    justify-content: space-between;
    z-index: 1000;
}

.user-info {
    margin-right: 20px;
    align-items: center;
    font-weight: 700;
}

.user-icon{
    margin-right: 10px;
}

.img {
    width: 210px;
    height: 50px;
}

.logout{
    background: #cc2626;
    width: 150px;
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 20px;
    color: #ffffff;
    font-weight: 700;
    margin-left: 20px;
    margin-top: 10px;
}

.no-projects{
    text-align: center;
    padding-bottom: 30px;
    font-weight: 700;
    font-size: 16px;
}

.new-project-button {
    background: #008cba; /* Cambia el color de fondo según tu preferencia */
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    color: #ffffff;
    font-weight: 700;
    margin-left: 200px; /* Ajusta el margen izquierdo según sea necesario */
}


.success-message-main{
    color: green;
    font-size: 14px;
    margin-top: 10px;
    text-align: center;
    padding-bottom: 15px;

  }

.project-card {
    width: 220px;
    height: 253px;
    margin: 20px;
    position: relative;
    align-items: center;
    overflow: auto;
    background-color: #f7d451;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    transition: all 0.8s ease;
    z-index: 1; /* Asegura que los hexágonos no se superpongan */
}

.project-card.expanded {
    clip-path: none;
    width: 1750px;
    height: 600px;
    position: absolute;
    top: 50%;
    left: 49%;
    transform: translate(-50%, -50%);
    z-index: 2; /* Asegura que el hexágono expandido esté sobre los demás */
}

.project-card.expanded .project-info {
    display: none;
}

.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative; /* Necesario para los hexágonos expandidos */
}

.projects-container.expanded .project-card:not(.expanded) {
    display: none; /* Oculta los hexágonos no expandidos cuando hay uno expandido */
}

.project-info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #3c2415;
}

.project-info p {
    margin: 0;
    font-size: 16px;
}

.project-details {
    padding-top: 120px;
    text-align: center;
    color: #3c2415;
    align-items: center;
    overflow-y: auto;
    width: auto;
}

.project-details p {
    margin: 10px 0;
}

.project-actions {
    margin-top: 20px;
}

.project-actions button {
    background-color: #3c2415;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 8px 12px;
    cursor: pointer;
    margin-right: 10px;
    width: 100px;
}

.project-actions .delete-button{
    background-color: #cc2626;
}

.project-actions button:hover {
    background-color: #6b4734;
}
